{% extends 'baseLayout.html' %}

{% block content %}
    <div>
        <form class="site-form" action="{% url 'accounts:signup' %}" method="post">
            {% csrf_token %}
            {% for field in form %}
                {{ field.label_tag }}
                {{ field }}
                {% if field.errors %}
                    <div class="error-message">
                        {{ field.errors }}
                    </div>
                {% endif %}
            {% endfor %}
            <input type="submit" value="Sign Up">
        </form>
    </div>
{% endblock %}
